@tailwind base;
@tailwind components;
@tailwind utilities;

ul, ol{
    display: block;
    list-style-type: disc;
    margin: 1em 0 1em;
    padding-left: 40px;
}

li{
    display: list-item;
}

body {
    @apply h-full;
}

body.light {
    @apply bg-white text-black selection:bg-rose-300;
}

body.dark{
    @apply bg-gray-900 selection:bg-indigo-500 text-white;
}